html,
body {
    height: 100%;
    background: #FAFAFA;
    line-height: 1;
    font-style: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
}

/* ------------------------------------ */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------- */
.__container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* -- ШАПКА ---------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    display: flex;
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {}
.menu__item:not(:last-child) {
    margin: 0px 24px 0px 0px;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/14*100%);
    transition: all 0.2s ease 0s;
}
.menu__link:hover {
    color: #da6c05;
}
@media (max-width: 1024px) {
    .menu__link {
        font-size: 18px;
    }
}

/* ----PAGE---------------------------------------- */
.main {
    flex: 1 1 auto;
}
.page__main-block {}
.page__secvices {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__price {
}
.page__video {
}
.page__partner:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__contact {
}
.page__contactus {
}
/* ----HEADER-BLOCK---------------------------------------- */
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-size: 40px;
    font-weight: 700px;
    line-height: calc(57/40*100%);
}
.header-block__title:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
    color: #737373;
    line-height: calc(20/14*100%);
}
@media (max-width: 992px){
    .header-block__title {
        font-size: 35px;
    }
}
@media (max-width: 767px){
    .header-block__title {
        font-size: 30px;
    }
}
/* ----ПІДВАЛ---------------------------------------- */
.footer {}

/* --------MAIN-BLOCK-------------------------------- */
.main-block {
    position: relative;
}
.main-block__container {}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 330px;
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}
.main-block__body>*:not(:last-child) {
    margin: 0px 0px 35px 0px;
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80/58*100%);
    font-weight: 800;
    letter-spacing: 0.2px;
}
@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}
@media (max-width: 479px) {
    .main-block__text {
        color: #444444;
    }
}
.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    padding: 5px 36px;
    font-weight: 800;
    line-height: 150%;
    padding: 5px 36px;
    margin: 10px 0;
    transition: all 0.3s ease 0s;
}
@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}
@media (max-width: 479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}
.main-block__button:not(:last-child) {
    margin-right: 10px;
}
.main-block__button_orange {
    background: #FF7B47;
    color: #FFFFFF;
}
.main-block__button_orange:hover {
    background: #fff;
    color: #FF7B47;
}
.main-block__button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
}
.main-block__button_border:hover {
    color: #fff;
    background-color: #0D5C63;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-block__image img {
    object-position: left;
}
@media (max-width: 1980px) {
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 1330px) {
    .main-block__image img {
        opacity: 0.3;
    }
}

/* ------------------------------------------ */
.secvices {

}
.secvices__container {

}
.services__body {

}
@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }
}
.services__column {
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
}
@media (min-width: 670px) {
    .services__column {
        padding: 0px 15px;
    }
}
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:not(:last-child){
        margin: 0px 0px 30px 0px;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
}
.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
}
@media (max-width: 479px){
    .services__item{
        padding: 25px;
    }
}
.item-service {}
.item-service_blue {
    background-color: #2C51B9;
}
.item-service_blue .item-service__text {
    color: #fff;
}
.item-service>*:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.item-service__icon {}
.item-service__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-style: 24px;
    line-height: calc(32/24*100%);
}
.item-service__text {
    color: #737373;
    letter-spacing: 0.2px;
    line-height: calc(20/14*100%);
}



.advantages {
    padding: 80px 0;
}
@media (max-width: 992px){
    .advantages {
        padding: 50px 0;
    }
}
.advantages__container {
}
.advantages__header {
    margin: 0px 0px 50px 0px;
}

@media (max-width: 767px){
    .advantages__header {
        margin: 0px 0px 25px 0px;
    }
}

.advantages__body {
    display: flex;
    margin: 0px -15px -30px;
    flex-wrap: wrap;
}
.advantages__column {
    padding: 0px 8px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media (max-width: 1020px){
    .advantages__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 560px){
    .advantages__column {
        flex: 0 1 100%;
    }
}
.advantages__item{
    background-color: #fff;
    padding: 30px;
    font-weight: 700;
    text-align: center;
}
.advantages__item:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value {
    font-size: 40px;
    line-height: calc(57/40*100%);
}
.advantages__text {
    color: #737373;
    font-size: 16px;
    line-height: calc(24/16*100%);
}
/* ---PRICE-------------------------------- */


.price {
    padding: 125px 0px 80px 0px;
}
@media (max-width: 993px){
    .price {
        padding: 40px 0px 80px 0px;
    }
}
@media (max-width: 767px){
    .price {
        padding: 0px 0px 40px 0px;
    }
}
.price__container {
}
.price__header {
    margin: 0px 0px 45px 0px;
}
.price__body {
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
}
.price__column {
    padding: 0px 20px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media (max-width: 1040px){
    .price__column {
        flex: 0 1 50%;
    } 
}
@media (max-width: 630px){
    .price__column {
        flex: 0 1 100%;
    } 
}
.price__item {
    background-color: #fff;
}
.item-price {
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.item-price__content {
    padding: 30px;
    flex: 1 1 auto;
}
.item-price__link {
    color:#252B42;
    display: inline-block;
}
.item-price__link:hover{
    text-decoration: underline;
}
.item-price__link:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-price__title {
    letter-spacing: 0.1px;
    font-size: 18px;
    font-weight: 700;
    line-height: calc(24/16*100%);
}
.item-price__text {
    color: #737373;
    font-size: 14px;
    line-height: 142%;
}
.item-price__img {
    display: block;
    padding: 0px 0px 60% 0px;
}
/* ------VIDEO---------------------- */
.video {
    padding: 80px 0px 130px 0px;
    background: #FFFFFF;
}
.video__container {
}
.video__header {
    margin: 0px 0px 100px 0px;
}
.video__body {
    display: flex;
    align-items: flex-start;
}
.video__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}
.video__video  iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.video__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 93px;
}
.video__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}
.video__title:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.video__text {
    color: #737373;
    line-height: 142%;
}
.video__top:not(:last-child){
    margin: 0px 0px 50px 0px;
}
.video__items {
}
.video-item {
}
.item-video {
    display: flex;
}
.item-video__icon {
    flex: 0 0 32px;
}
.item-video__body {
    flex: 1 1 auto;
    padding: 0px 0px 10px 20px;
}
.item-video__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-video__title:not(:last-child){
    margin: 0px 0px 5px 0px;
}
.item-video__text {
    color: #737373;
    white-space: nowrap;
    line-height: 142%;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 1080px){
    .video__content {
        padding: 0px 0px 0px 50px;
    }
}
@media (max-width: 950px){
    .video {
        padding: 50px 0px 50px 0px;
    }
    .video__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .video__title {
        font-size: 24px;
    }
    .video__text{
        margin: 0px 0px 20px 0px;
    }
    .video__content {
        padding: 0px 0px 0px 0px;
    }
    .video__video{
        padding: 0px 0px 56.25% 0px;
    }
    .video__video:not(:last-child) {
        margin: 50px 0px 0px 0px;
    }
    .video__header {
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width: 767px){
        .video{
          padding: 20px 0px 50px 0px;
        }
        .video__video:not(:last-child) {
            margin: 30px 0px 0px 0px;
        }
}
/* ------PARTNER----------------------------------------- */

.partner {
    padding: 50px 0;
}
@media (max-width: 767px){
    .partner {
        padding: 30px 0;
    }
}
.partner__container {
}
.partner__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.partner__item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}
.partner__item img{
    max-width: 100%;
}
/* ---SUBSCRIBE----------------------------- */
.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
}
.subscribe::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background: rgb(98, 137, 246);
}
.subscribe__container {
}
.subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    background: #2C51B9;
    border-radius: 2px;
}
@media (min-width: 1070px){
    .subscribe__body {
        margin: 0px 30px;
    }
}
@media (min-width: 810px){
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
}
.subscribe__title {
    color: #fff;
    max-width: 266px;
    flex: 0 1 50%;
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
    letter-spacing: 0.1px;
}
@media (max-width: 810px){
    .subscribe__title {
        margin: 0px 0px 20px 0px;
    }
    .subscribe__body {
        margin: 0px -15px;
        padding: 20px 25px;
    }
}
@media (min-width: 810px){
    .subscribe__title {
        max-height: 266px;
    }
    .subscribe__body {
        margin: 0px -15px;
        padding: 20px 25px;
    }
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subcribe__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    background: #F9F9F9;
    color: #737373;
    padding: 0px 20px;
    border: 1px solid #E6E6E6;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}
.subcribe__input:focus{
    color: #000;
}
.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease 0s;
    padding: 0px 22px;
}
.subscribe__button:hover {
    background-color: #ce6137;
}
@media (min-width: 810px){
    .subscribe__button {
        padding: 0px 15px;
    }
    .subcribe__input{
        padding: 0px 15px;
    }
}
/* -----Contact----------------------------------------- */

.contact {
    padding: 80px 0px 135px 0px;
}
.contact__container {
}
.contact__header {
    margin: 0px 0px 80px 0px;
}
.contact__items {
    margin: 0px -15px;
}
.contact__item {
    flex: 0 1 33.333%;
}
.item-contact{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;
}
.item-contact__active{
    color: #fff;
    background: #2A7CC7;
    padding: 80px 15px;
}
.item-contact__active .item-contact__button{
    border: 1px solid #fff;
    color: #fff;
}
.item-contact__active .item-contact__button:hover{
    background-color: #FF7B47;
    border: 1px solid #FF7B47;
    color: #fff;
}
.item-contact > *:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-contact__icon {
}
.item-contact__emails {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.item-contact__email {
    color: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.item-contact__email:hover {
    text-decoration: underline;
}
.item-contact__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-contact__button {
    border: 1px solid #FF7B47;
    min-height: 44px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #FF7B47;
    line-height: 142%;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
}
.item-contact__button:hover {
    border: 1px solid #fff;
    background-color: #FF7B47;
    color: #fff;
}
@media (min-width: 992px){
    .contact__items {
        margin: 0;
        display: flex;
        align-items: center;
    }   
}
@media (max-width: 992px){
    .contact {
        padding: 50px 0px;
    }
    .contact__header {
        margin: 0px 0px 50px 0px;
    }
}
@media (max-width: 767px){
    .contact__header {
        margin: 0px 0px 30px 0px;
    }
}
/* -----CONTACT_US-------------------------------------- */
.contactus{
    background-color: #fff;
    padding: 42px 0;
}
.contactus__container {
}
.contactus__content {
    padding: 0px 0px 20px 0px;
}   
@media (min-width: 767px){
    .contactus__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contactus__content {
        padding: 20px 0px 0px 0px;
    }   
}
.contact__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-style: 24px;
    line-height: 133%;
}
.contact__title:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.contact__text{
    color: #737373;
    line-height: 142%;
}
.contactus__button {
    display: flex;
    background-color: #FF7B47;
    border-radius: 5px;
    min-height: 58px;
    padding: 5px 40px;
    transition: background-color 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.contactus__button:hover{
    background-color: #aa5330;
}

/* ------FOOTER--------------------------------------------------------- */
.footer {
}
.footer__top {
    background: #2C51B9;
    padding: 35px 0px;
}
.footer__main {
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.footer__column {
    padding: 15px 15px;
    flex: 0 1 16.667%;
}
.footer__column:last-child {
    flex: 0 1 33.334%;
}
@media (max-width: 992px){
    .footer__column {
        flex: 0 1 25%;
    }
    .footer__column:last-child {
        flex: 0 1 100%;
    }
}
@media (max-width: 767px){
    .footer__column {
        flex: 0 1 50%;
    }
}
.footer__label {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0px 0px 20px 0px;
}
.footer__menu {
}

.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.menu-footer__link {
    color: #fff;
    display: inline-block;
    line-height: 142%;
    letter-spacing: 0.2px;
    transition: all 0.2s ease 0s;
}
.menu-footer__link:hover{
    color: #ff8a1c;
}

.footer__contacts {
}

.contacts-footer {
    display: flex;
    flex-direction: column;
}
.contacts-footer__item{
    padding: 0px 0px 0px 34px;
    line-height: 142%;
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 30px;
}
.contacts-footer__item:hover{
    text-decoration: underline; 
}
.contacts-footer__item:not(:last-child) {
    margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
    background: url('../img/footer/icons/01.svg') 0 0 no-repeat;
}
.contacts-footer__item_map {
    background: url('../img/footer/icons/02.svg') 0 0 no-repeat;
}
.contacts-footer__item_email {
    background: url('../img/footer/icons/03.svg') 0 0 no-repeat;
}


.footer__botoom {
    padding: 25px 0;
}
.footer-main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    color: #737373;
    line-height: 171%;
}
.footer__social {
}

.social {
    display: flex;
    align-items: center;
}
.social__item:not(:last-child){
    margin: 0px 20px 0px 0px;
}
@media (max-width: 767px){
    .footer-main__container {
        flex-direction: column;
    }
    .footer__copy {
        margin: 0px 0px 15px 0px;
        text-align: center;
}